<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Applicant">   

   	<select id="readApplicantInformationByProgramId" parameterType="Integer" resultType="ApplicantRead">
	   SELECT A.id, A.user_id, A.program_id, A.application_form, A.status, U.name, U.student_id, U.phone, U.email, U.department, U.major1, U.student_class, U.semester
		FROM swap.Applicant as A
		JOIN swap.User as U
		ON A.user_id = U.id
		where U.deldate is null and A.program_id  = #{id}
		order by U.name
   	</select>
   	
   	<update id="updateApplicantStatus" parameterType="hashmap">
   		UPDATE Applicant
   		SET status =#{status}
   		WHERE id=#{id}
   	</update>
   	
   	<insert id = "applyApplication" parameterType="Applicant">	
   		INSERT INTO Applicant (user_id, program_id, application_form)
		VALUES (#{user_id}, #{program_id}, #{application_form})
   	</insert>
   	
   	<select id="readApplicantByUserId" parameterType="Integer" resultType="ApplicantRead">
	   SELECT A.id, A.user_id, A.program_id, U.name
		FROM swap.Applicant as A
		JOIN swap.User as U
		ON A.user_id = U.id
		where U.deldate is null and A.program_id  = #{programID} and A.user_id = #{userID}
		order by U.name
   	</select>
   	
   	
</mapper>

